src/Articulate.Web/App_Data/TEMP/*
src/Articulate.Web/App_Data/NuGetBackup/*
src/Articulate.Web/App_Browsers/*
src/Articulate.Web/App_Data/Logs/*
src/Articulate.Web/App_Data/Umbraco.sdf
src/Articulate.Web/App_Data/packages/*
src/Articulate.Web/App_Data/access.config
src/Articulate.Web/App_Data/umbraco.config
dummy.txt
src/Articulate.Web/bin/*

src/Articulate.Web/css/*
src/Articulate.Web/js/*
src/Articulate.Web/umbraco/*
src/Articulate.Web/umbraco_client/*
src/Articulate.Web/Global.asax
src/Articulate.Web/default.aspx
src/Articulate.Web/Views/*
src/Articulate.Web/obj/*
src/Articulate/bin/*
src/Articulate/obj/*
src/Articulate.Web/macroScripts/*
src/Articulate.Web/images/*
src/packages/*
src/Articulate.Web/xslt/*
src/Articulate.Web/media/*
src/Articulate.Web/App_Data/cache/*
*.suo
*.csproj.user
src/Articulate.Console/bin/*
src/Articulate.Console/obj/*
src/Articulate.Console/App_Data/TEMP/PluginCache/*
bin/Debug/*
src/Articulate.sln.DotSettings.user
build/Releases/*
build/Releases/*
build/nuget.exe
src/Articulate/App_Data/NuGetBackup/*
src/.Articulate.boltdata/*
src/Articulate.Web/App_Plugins/Grid/*
src/Articulate.Web/scripts/*
src/Articulate.Web/App_Plugins/ModelsBuilder/*
src/.vs/*
src/_ReSharper.Caches/*
src/Articulate.Web/config/imageprocessor/cache.config
src/Articulate.Web/config/imageprocessor/processing.config
src/Articulate.Web/config/imageprocessor/security.config
/build/tmp/*
/build/vswhere.exe
/build/Release/*
/src/Articulate.Web/App_Data/Models/*
