Articulate.Web/App_Data/TEMP/*
Articulate.Web/App_Data/NuGetBackup/*
Articulate.Web/App_Browsers/*
Articulate.Web/App_Data/Logs/*
Articulate.Web/App_Data/Umbraco.sdf
Articulate.Web/App_Data/packages/*
Articulate.Web/App_Data/access.config
Articulate.Web/App_Data/umbraco.config
dummy.txt
Articulate.Web/bin/*
Articulate.Web/config/*
Articulate.Web/css/*
Articulate.Web/js/*
Articulate.Web/umbraco/*
Articulate.Web/umbraco_client/*
Articulate.Web/Global.asax
Articulate.Web/default.aspx
Articulate.Web/Views/*
Articulate.Web/obj/*
Articulate/bin/*
Articulate/obj/*
Articulate.Web/macroScripts/*
Articulate.Web/images/*
packages/*
Articulate.Web/xslt/*
Articulate.Web/media/*
Articulate.Web/App_Data/cache/*
*.suo
*.csproj.user
