/* BLOG SPECIFIC */
.blog-logo {
  display: block;
  position: relative;
  padding: 20px;
  width: 80px;
  left: 100%;
  margin-left: -150px;
  border-radius: 50%;
}
.blog-title {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #444444;
}
.blog-title :hover {
  color: #444444;
}
.blog-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #444444;
}
/* LAYOUT - MOBILE FIRST */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.header-col,
.main-col {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}
.main-col {
  background-color: #ffffff;
}
.header-placeholder {
  display: none;
}
.header-content {
  width: 100%;
  position: relative;
  text-align: right;
  background-size: cover;
  background-repeat: repeat-y;
  background-color: #f5f5fa;
}
.header-content .header-title {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}
.header-content .header-menu {
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 100%;
  margin: 15px;
  margin-bottom: -60px;
}
.header-content .header-menu .header-menu-button {
  color: #888888;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 4em;
}
.header-content .header-menu .header-menu-button .header-menu-button-icon {
  position: relative;
  top: 0em;
  transition: top 0.5s ease, transform 0.5s ease 0s;
  -webkit-transition: top 0.5s ease, -webkit-transform 0.5s ease 0s;
}
.header-content .header-menu .header-menu-button:hover .header-menu-button-icon {
  top: 0em;
  -ms-transform: rotate(360deg) scale(1.2);
  -webkit-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
  color: #FFFFFF;
}
.header-content .header-menu .header-menu-button:hover .header-menu-button-icon :hover {
  color: #FFFFFF;
}
.header-content .header-menu .header-menu-button .header-menu-button-label {
  position: relative;
  top: 3em;
  display: inline-block;
  font-size: 0.7em;
  border-radius: 4px;
  opacity: 0;
  padding: 2px;
  width: 50px;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  transition: height 0.3s ease, opacity 0.2s ease 0s;
  -webkit-transition: height 0.3s ease, opacity 0.5s ease 0s;
}
.header-content .header-menu .header-menu-button:hover .header-menu-button-label {
  height: 5em;
  opacity: 1;
}
.pagination {
  position: relative;
  text-align: center;
  margin: 4% 30px 30px 4%;
}
.pagination .older-posts,
.pagination .newer-posts {
  border-radius: 4px;
  position: absolute;
  padding: 8px 8px 8px 8px;
  font-size: 0.8em;
  background-color: #777777;
  color: #eeeeee;
}
.pagination .older-posts:hover,
.pagination .newer-posts:hover {
  background-color: #eeeeee;
  color: #777777;
}
.pagination .older-posts {
  right: 0;
}
.pagination .newer-posts {
  left: 0;
}
.pagination .pagenumber {
  font-size: 0.8em;
  border-radius: 0.4em;
  padding: 8px 8px 8px 8px;
  background-color: #888888;
  color: #f3f3f3;
}
/* Override original Skeleton CSS */
body {
  background-color: #ffffff;
  font-size: 90%;
  font-weight: 300;
  line-height: 1.5;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  color: #444444;
}
a {
  transition: color 0.5s ease 0s;
  text-decoration: none;
  
}
a :hover {
  
}
a :active {
  
}
a :visited {
}
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  line-height: 1.5;
  font-family: "Raleway", "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #444444;
}
hr {
  margin: 0;
}
.hrule {
  margin: 5px 0 5px 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d0d0d0;
}
.post-entry {
  padding: 30px 4% 50px 4%;
  width: 92%;
}
.post-entry.post-list:hover {
  background-color: #f5f5fa;
}
.post-entry .post-list-link {
  color: #444444;
}
.post-entry .readmore-hover {
  display: inline-block;
  font-size: 0.7em;
  position: relative;
  background-color: #888888;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  opacity: 0;
  transition: opacity 0.75s ease 0s;
  -webkit-transition: opacity 0.75s ease 0s;
}
.post-entry .plus-sign {
  color: #888888;
  transition: transform 0.5s ease 0s;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
}
.post-entry:hover .readmore-hover {
  opacity: 1;
}
.post-entry:hover .plus-sign {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.post-info {
  opacity: 0.7;
  margin-top: 10px;
  font-size: 0.8em;
}
.post-side {
  width: 11%;
  padding: 0 1% 0 1%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.post-main {
  width: 86%;
  display: inline-block;
  vertical-align: top;
}
.post-date {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
  border: 0.1em solid #cccccc;
  box-shadow: 0em 0.3em 0em 0em #bbbbbb;
  background-color: #ffffff;
  text-align: center;
  line-height: 1;
  font-size: 0.8em;
}
.post-date .year {
  border-radius: 0.5em 0.5em 0em 0em;
  padding: 0.1em 0 0.1em 0;
  background-color: #999999;
  color: #EEEEEE;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  display: block;
}
.post-date .datetime-day,
.post-date .datetime-month {
  top: -0.2em;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #555555;
}
.post-date .datetime-month {
  margin-top: 0.2em;
}
.post-date .datetime-full {
  line-height: 1;
  font-size: 1.2em;
}
.tooltip:hover:after {
  font-size: 0.5em;
  background: #333333;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  bottom: 20px;
  left: 0px;
  color: #ccc;
  content: attr(title);
  padding: 2px 2px;
  position: absolute;
  z-index: 98;
}
.footer {
  margin: 50px;
  text-align: center;
  font-size: 0.7em;
  color: #666666;
}
.post-title {
  line-height: 1;
  margin: 0;
  font-size: 35px;
}
.post-share {
  text-align: right;
    background-color: #f5f5fa;
}
.post-share .share-button {
  display: inline-block;
  margin: 15px 15px 15px 15px;
}
.post-share .share-button :hover {
  transition: transform 0.5s ease 0s;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -ms-transform: rotate(360deg) scale(1.2);
  -webkit-transform: rotate(360deg) scale(1.2);
}
.post-comment {
  background-color: #f5f5fa;
  width: 94%;
  padding: 20px 3% 20px 3%;
  margin-top: 20px;
}
/* normal screen width width >= 960 */
@media only screen and (min-width: 960px) {
  .blog-logo {
    position: absolute;
    left: 100%;
    top: 100%;
    padding: 0;
    margin: -120px 0 0 -40px;
  }
  .header-col {
    width: 30%;
    max-width: 350px;
    height: 100%;
    bottom: 0;
  }
  .main-col {
    width: 70%;
    max-width: 640px;
  }
  .header-placeholder {
    display: block;
  }
  .header-content {
    position: fixed;
    height: 100%;
    width: 30%;
    max-width: 350px;
    top: 0;
  }
  .header-content .header-menu {
    margin-bottom: 15px;
    bottom: 30px;
    right: 40px;
  }
  .header-content .header-title {
    margin-top: 120px;
    text-align: right;
  }
  .post-entry {
    padding: 30px 2% 50px 8%;
    width: 90%;
  }
}

/* This hides the first image displayed in an RTE blog post - used in conjunction with Windows Live Writer */
.a-image-0 {
    display: none;
}

.postImage {
    float: left; 
    padding: 10px 25px 10px 0px;
    max-width: 100%;
}

img.thumb {
    float: left;
    padding: 0px 10px 0px 0px;
}

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
