@using Articulate
@model Articulate.Models.IMasterModel

<form method="get" action="@Url.ArticulateSearchUrl(Model)">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text" name="term" class="mdl-textfield__input" id="term" />
        <label for="term" class="mdl-textfield__label">Search</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" type="submit">
        <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">Search</span>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </button>
</form>