@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
}

<div class="row">
    <div class="col-s-9">

        <div class="row main">
            <div class="mainContent box">
                @Html.ThemedPartial(Model, "Post", Model)
            </div>
        </div>

    </div>

    @Html.ThemedPartial(Model, "SideWidgets")
</div>