@using Articulate.Models
@model Articulate.Models.PostModel

@if (Model.DisqusShortName.IsNullOrWhiteSpace())
{
    <p>
        <em>
            To enable comments sign up for a <a href="http://disqus.com" target="_blank">Disqus</a> account and
            enter your Disqus shortname in the Articulate node settings.
        </em>
    </p>
}
else
{
    <div id="disqus_thread">
        <script type="text/javascript">

            /** ENTER DISQUS SHORTNAME HERE **/

            var disqus_shortname = '@Model.DisqusShortName';

            /** DO NOT MODIFY BELOW THIS LINE **/

            var disqus_identifier = '@Model.GetContentKey()';
            var disqus_url = '@Model.UrlWithDomain()';

            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        <a href="http://disqus.com" class="dsq-brlink">
            comments powered by <span class="logo-disqus">Disqus</span>
        </a>
    </div>
}