@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@model Articulate.Models.ListModel
@{
    Layout = "Master.cshtml";
}

<div class="posts" role="main">

    @if (!Model.Children.Any())
    {
        
        @Html.ThemedPartial(Model, "SearchBox")
        
        if (!Request.QueryString["term"].IsNullOrWhiteSpace())
        {
            <div class="box-inner post xfolkentry">No blog posts found</div>
        }

    }
    else
    {
        foreach (var post in Model.Children<PostModel>())
        {
            @Html.ThemedPartial(Model, "Post", post, new ViewDataDictionary { { "IsListView", true } })
        }

        @Html.ThemedPartial(Model, "Pager", Model.Pages)
    }
    
</div>