@using Articulate
@model Articulate.Models.IMasterModel

<nav class="menu" role="nav">
    <ul>
        <li><a href="@Url.ArticulateArchiveUrl(Model)">Archive</a></li>
        <li><a href="@Url.ArticulateTagsUrl(Model)">Tags</a></li>
    </ul>
</nav>