@model Articulate.Models.PageModel

<nav class="pagination" role="pagination">
  @if (Model.HasPrevious)
  {
  <a class="newer-posts" href="{{pageUrl prev}}">
    <i class="fa fa-chevron-circle-left"></i> Newer
  </a>
  }
  <span class="page-number">Page @(Model.CurrentPageIndex + 1) of @Model.TotalPages</span>
  @if (Model.HasNext)
  {
  <a class="older-posts" href="{{pageUrl next}}">
    Older <i class="fa fa-chevron-circle-right"></i>
  </a>
  }
</nav>