@using Articulate
@model Articulate.Models.PostModel

@if (Model.Tags.Any())
{
    <div class="post-meta tags">
        Posted in

        @foreach (var tag in Model.Tags)
        {
            <a href="@Url.ArticulateTagUrl(Model, tag)">@tag</a>
            if (tag != Model.Tags.Last())
            {
                <span>, </span>
            }            
        }
    </div>
}