@using Articulate
@model Articulate.Models.IMasterModel

<!--- MENU SECTION --->
<div class="header-menu">
    <!--- HOME BUTTON --->
    <a href="@Url.ArticulateRootUrl(Model)" title="Home">
        <div class="header-menu-button">
            <span class="header-menu-button-label">
                HOME
            </span>
            <span class="fa-stack header-menu-button-icon">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-home fa-stack-1x"></i>
            </span>
        </div>
    </a>

    @*<!--- Categories (Need to create template)--->

    <a href="@Url.ArticulateCategoriesUrl(Model)" title="Archive">
        <div class="header-menu-button">
            <span class="header-menu-button-label">
                ARCHIVE
            </span>
            <span class="fa-stack header-menu-button-icon">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-th-list fa-stack-1x"></i>
            </span>
        </div>
    </a>*@

    <!--- RSS BUTTON --->
    <a href="@Url.ArticulateRssUrl(Model)" title="Subscribe">
        <div class="header-menu-button">
            <span class="header-menu-button-label">
                RSS
            </span>
            <span class="fa-stack header-menu-button-icon">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </div>
    </a>
</div>