@model Articulate.Models.IMasterModel

<!--- FOOTER SECTION  --->
<!--- Appear at the bottom of every page --->
<div class="footer">
    MiniGhost theme designed by <a href="http://www.thyu.org/">T.H.Yu</a> &copy; 2014
    <br>
    Powered by <a href="https://github.com/shandem/articulate"> Articulate </a>
</div>