@using Articulate
@model Articulate.Models.IMasterModel

<header>
    <div class="imagen-autor"
         @if (!Model.BlogLogo.IsNullOrWhiteSpace()) { <text> style="background-image: url(@Model.BlogLogo)" </text>   }>
    </div>

    <a class="title" href="@Url.ArticulateRootUrl(Model)"><h5>@Model.BlogTitle</h5></a>
    <h6>@Model.BlogDescription</h6>
</header>