<div ng-controller="Articulate.Editors.ThemeCreateController as vm">
    <form novalidate name="createThemeForm" val-form-manager ng-cloak>
        <div class="umbracoDialog umb-dialog-body with-footer" ng-if="vm.isRoot">

            <div class="umb-pane">

                <umb-control-group label="Enter a new theme name" hide-label="false">
                    <input type="text" name="themeName" ng-model="vm.themeName" class="umb-textstring textstring input-block-level"
                           required
                           no-dirty-check
                           val-server-field="value"/>
                    <span class="help-inline" val-msg-for="themeName" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
                    <span class="help-inline" val-msg-for="themeName" val-toggle-msg="valServerField"></span>
                </umb-control-group>

                <h5>Duplicate Articulate theme from:</h5>
                <ul class="umb-actions umb-actions-child">
                    <li ng-repeat="theme in vm.themes" style="border:2px solid transparent" ng-style="{'border-color': theme.selected ? '#03bfb3' : 'transparent'}">
                        <a href="" ng-click="vm.selectTheme(theme)" umb-auto-focus>
                            <i class="large icon-layers-alt"></i>
                            <span class="menu-label">{{theme.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="umb-pane">
                <div>
                    <div class="umb-pane btn-toolbar umb-btn-toolbar">
                        <div class="control-group umb-control-group">	
                            <a href class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
                            <umb-button type="button"
                                        button-style="success"
                                        action="vm.createTheme()"
                                        label="Create Theme"
                                        state="vm.buttonState"
                                        disabled="vm.isReady === false">
                            </umb-button>
                        </div>	
                    </div>
                </div>
            </div>

        </div>
        
        <div class="umbracoDialog umb-dialog-body with-footer" ng-if="!vm.isRoot">

            <div class="umb-pane">

                <umb-control-group label="File name" hide-label="false">
                    <input type="text" name="fileName" ng-model="vm.fileName" class="umb-textstring textstring input-block-level"
                           required
                           no-dirty-check
                           val-server-field="value" />
                    <span class="help-inline" val-msg-for="fileName" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
                    <span class="help-inline" val-msg-for="fileName" val-toggle-msg="valServerField"></span>
                </umb-control-group>

                <h5>File type:</h5>
                <ul class="umb-actions umb-actions-child">
                    <li ng-repeat="type in vm.fileTypes" style="border:2px solid transparent" ng-style="{'border-color': type.selected ? '#03bfb3' : 'transparent'}">
                        <a href="" ng-click="vm.selectFileType(type)" umb-auto-focus>
                            <i class="large" ng-class="type.icon"></i>
                            <span class="menu-label">{{type.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="umb-pane" ng-if="vm.isRoot">
                <div>
                    <div class="umb-pane btn-toolbar umb-btn-toolbar">
                        <div class="control-group umb-control-group">
                            <a href class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
                            <umb-button type="button"
                                        button-style="success"
                                        action="vm.createTheme()"
                                        label="Create Theme"
                                        state="vm.buttonState"
                                        disabled="vm.isReady === false">
                            </umb-button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="umb-pane" ng-if="!vm.isRoot">
                <div>
                    <div class="umb-pane btn-toolbar umb-btn-toolbar">
                        <div class="control-group umb-control-group">
                            <a href class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
                            <umb-button type="button"
                                        button-style="success"
                                        action="vm.createFile()"
                                        label="Create File"
                                        state="vm.buttonState"
                                        disabled="vm.isReady === false">
                            </umb-button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="!model.creatingFolder">
            <button class="btn btn-info" ng-click="nav.hideDialog(true)">
                <localize key="buttons_somethingElse">Do something else</localize>
            </button>

        </div>
    </form>
</div>