@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);

.estarjeta {
    background-color: white;
    /*Color de fondo de la tarjeta*/
    padding: 20px 30px;
    -webkit-box-shadow: 0px 4px 2px rgba(204, 204, 204, 0.8);
    -ms-box-shadow: 0px 4px 2px rgba(204, 204, 204, 0.8);
    box-shadow: 0px 4px 2px rgba(204, 204, 204, 0.8);
    -ms-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

/**************************************
             BÁSICO
**************************************/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: default;
    color: #222222;
}

*:hover {
    transition: 0.3s ease;
}

ul,
ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: 0px auto;
    text-align: center;
}
/**************************************
             TIPOGRAFÍA
**************************************/

a {
    color: #c0392b;
}

a:hover {
    color: #db695d;
    cursor: pointer;
}

p,
ul,
ol {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.7rem;
    text-align: justify;
}

p:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0rem;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2rem;
    color: #c0392b;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: left;
}

h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}
/**************************************
             HEADER
**************************************/

header {
    margin: 70px 0px;
}

header .imagen-autor {
    height: 150px;
    width: 150px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0px auto;
    background-position: top center;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover; 
}

/**************************************
             CONTIDO
**************************************/

article {
    margin-bottom: 150px;
}

article:last-child {
    margin-bottom: 40px;
}

.titulo-articulo {
    width: 700px;
    margin: 0px auto;
}

.fecha {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    color: #bfbfbf;
}

.subtitulo-articulo {
    width: 800px;
    margin: 0px auto;
    margin-top: 25px;
}

.texto {
    width: 850px;
    margin: 0px auto;
    margin-top: 40px;
    -ms-column-count: 2;
    -o-column-count: 2;
    -ms-column-gap: 40px;
    -o-column-gap: 40px;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
}

.texto p:first-of-type {
    padding-top: 20px;
}

.texto p:first-of-type:first-letter {
    font-size: 3.5rem;
    float: left;
    padding-right: 5px;
}

.postImageWrapper {
    width: 850px;
    margin: 0px auto;
    margin-top: 40px;
}

blockquote p {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-style: italic;
    color: #df7c72;
    margin: 20px 0px;
}

blockquote p:before {
    content: "«";
}

blockquote p:after {
    content: "»";
}

ul,
ol {
    text-align: left;
}

code {
    display: block;
    background-color: #eeeeee;
    font-family: monospace;
    line-height: 1.5rem;
    text-align: left;
    font-size: 0.8em;
    font-family: monospace, serif;
    cursor: text;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    line-height: 1rem;
    margin-bottom: 1rem;
}

code:last-child {
    margin-bottom: 0px;
}
/**************************************
             FOOTER
**************************************/

footer {
    width: 100%;
    clear: both;
    padding: 40px 0px;
}

footer p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

footer .footer1 {
    color: #404040;
}

footer .footer2 {
    color: gray;
}
/**************************************
             OTROS
**************************************/

.oculto {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.enblanco {
    color: white;
}

.engris {
    color: #bfbfbf;
}

.toleft {
    float: left;
}

.toright {
    float: right;
}

.consombra {
    -ms-text-shadow: 0.06em 0.06em 0.04em #cccccc;
    -ms-text-shadow: 0.06em 0.06em 0.04em rgba(204, 204, 204, 0.8);
    text-shadow: 0.06em 0.06em 0.04em #cccccc;
    text-shadow: 0.06em 0.06em 0.04em rgba(204, 204, 204, 0.8);
}

.conmargen {
    margin-bottom: 1rem;
}

.sinmargen {
    margin-bottom: 0rem;
}

.justificado {
    text-align: justify;
}

/* This hides the first image displayed in an RTE blog post - used in conjunction with Windows Live Writer */
.a-image-0 {
    display: none;
}

.postImage {
    float: left; 
    padding: 10px 25px 20px 0px;
    max-width: 100%;
}

img.thumb {
    float: left;
    padding: 0px 20px 0px 0px;
}

/**************************************
             BREACKPOINTS
**************************************/

@media only screen and (max-width: 900px) {
    /* Tipografia */

    h1 {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 4rem;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 300;
        font-style: italic;
        line-height: 2rem;
        color: #c0392b;
    }
    /*Contenido*/

    .titulo-articulo {
        width: 95%;
        max-width: 700px;
    }

    .subtitulo-articulo {
        width: 95%;
        max-width: 800px;
    }

    .texto {
        width: 90%;
        max-width: 450px;
        -ms-column-count: 1;
        -o-column-count: 1;
        -ms-column-gap: 40px;
        -o-column-gap: 40px;
        -moz-column-count: 1;
        -moz-column-gap: 40px;
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 40px;
        column-gap: 40px;
    }

    .texto img {
        width: 100%;
    }

    .postImageWrapper {
        width: 90%;
        max-width: 450px;
    }
}

a.title * {
    cursor: pointer;
}
