@using Articulate
@model Articulate.Models.PostModel

@foreach (var tag in Model.Tags)
{
    <a href="@Url.ArticulateTagUrl(Model, tag)">@tag</a>
    if (tag != Model.Tags.Last())
    {
        <text>|</text>
    }
}