@using Articulate
@model Articulate.Models.IMasterModel

<div class="follow">
    <a href="https://twitter.com/shazwazza" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @@shazwazza</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; js.async = true; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
</div>