@using Articulate
@model Articulate.Models.IMasterModel

<div class="topNav box-inner links">
    <a href="#">Me</a>
    <a href="@Url.ArticulateCategoriesUrl(Model)">Archive</a>
    <a href="#">Contact</a>
    <a href="#">Why?</a>
</div>