@using Articulate
@model Articulate.Models.IMasterModel

<div class="links push-right box-inner">
    <a href="#">Me</a>
    <a href="@Url.ArticulateCategoriesUrl(Model)">Archive</a>
    <a href="#">Contact</a>
    <a href="#">Why?</a>
    <a href="@Url.ArticulateSearchUrl(Model)">Search</a>
    
    @Html.ThemedPartial(Model, "Follow")

</div>