@using Articulate
@model Articulate.Models.IMasterModel

<div class="articulate-search">
    <form method="get" action="@Url.ArticulateSearchUrl(Model)">
        <input type="text" name="term" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>
</div>