
/****************************
          GHOST
****************************/
.p.ghost {
  display: inline-block;
}
.p-ghost a {
  background-color: white;
  padding: 20px;
/*  box-shadow: 0px 4px 2px rgba(204, 204, 204, 0.8);*/
  border-radius: 0px;
  border: 1px solid #222222;
  padding: 5px 10px;
  margin: 0px 5px;
}

.p-ghost span {
  display: inline-block;
  border: 0px;
}
