<div ng-controller="Articulate.Dashboard.BlogImporter">
   
    <form name="articulateImportForm" ng-submit="submitImport()" novalidate val-form-manager>
        <umb-pane>
            <umb-control-group alias="articulateNodeId" description="Choose the Articulate blog node to import to"
                               label="Articulate blog node">
                <umb-editor model="contentPickerImportModel" ng-model="$parent.$parent.articulateImportNodeId" name="articulateImportNodeId" no-dirty-check></umb-editor>
                
            </umb-control-group>

            <umb-control-group alias="blogMlXmlFile" description="Select BlogMl xml file to import"
                               label="BlogMl import file">
                <input type="file" class="" umb-file-upload name="blogMlXmlFile" required-file accept="text/xml" ng-model="blogMlXmlFile" no-dirty-check />
                <span class="help-inline" val-msg-for="blogMlXmlFile" val-toggle-msg="required">Required</span>
            </umb-control-group>

            <umb-control-group alias="overwrite" description="Check if you want to overwrite posts already imported"
                               label="Overwrite imported posts?">
                <input type="checkbox" class="" name="overwrite" ng-model="$parent.$parent.overwrite" no-dirty-check />
            </umb-control-group>

            <umb-control-group alias="publish" description="Check if you want all imported posts to be published"
                               label="Publish all posts?">
                <input type="checkbox" class="" name="publish"
                       ng-required="$parent.$parent.exportDisqusXml"
                       ng-model="$parent.$parent.publish" no-dirty-check />
                <span class="help-inline" val-msg-for="publish" val-toggle-msg="required">Publishing is required when you want to export comments to Disqus.</span>
            </umb-control-group>

            <umb-control-group alias="regexMatch" description="Regex statement used to match content in the blog post to be replaced by the match statement"
                               label="Regex match expression">
                <input type="text" class="" name="regexMatch" ng-model="$parent.$parent.regexMatch" no-dirty-check />
            </umb-control-group>

            <umb-control-group alias="regexReplace" description="Replacement statement used with the above match statement"
                               label="Regex replacement statement">
                <input type="text" class="" name="regexReplace" ng-model="$parent.$parent.regexReplace" no-dirty-check />
            </umb-control-group>

            <umb-control-group alias="exportDisqusXml" description="If you would like Articulate to output an XML file that you can use to import the comments found in this file in to Disqus"
                               label="Export Disqus Xml">
                <input type="checkbox" class="" name="exportDisqusXml" ng-model="$parent.$parent.exportDisqusXml" no-dirty-check />
            </umb-control-group>

            <umb-control-group>
                <p><input type="submit" ng-if="!submitting" /></p>
                <p class="alert" ng-bind-html="status" ng-if="status != null || status != undefined" ng-class="{'alert-success': status == 'Finished!', 'alert-info' : status != 'Finished!'}"></p>
                <p ng-if="status === 'Finished!'" ng-show="$parent.$parent.exportDisqusXml == 1">Click <a href='{{downloadLink}}' target='_blank'>here</a> to download the exported Disqus Xml file</p>
            </umb-control-group>


        </umb-pane>
    </form>
</div>
