@using Articulate
@using Articulate.Models
@inherits UmbracoViewPage<Articulate.Models.IMasterModel>

@{
    var recent = Umbraco.GetRecentPosts(Model, 5);
}

<div>
    <h3>Recent posts</h3>

    @Html.ThemedPartial(Model, "PostList", recent)

</div>