a {
    color: #e86c00;
}

a:hover {
    color: #479230;
}

body {
    background-attachment: fixed;
    background-image: url(../img/background.png);
    background-repeat: repeat;
    background-position: center top;
    color: #444;
    font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande, sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #001021;
}

input, textarea, select {
    font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande, sans-serif;
}

button.fa {
    background: none;
    border: none;
    cursor: pointer;
}


h1, h2, h3, h4, h5 {
    color: #06C;
    font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande;
    font-weight: 400;
}

h1 {    
    font-weight: 300;
}

code {
    color: inherit;
    font-family: inherit;
}

pre {
    color: inherit;
    font-family: inherit;
}

cite {
    color: inherit;
    font-family: inherit;
}

th {
    font-weight: 400;
}

::-webkit-input-placeholder {
   font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande;
   font-weight: 300;
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande;
   font-weight: 300;
   color: #333;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande;
   font-weight: 300;
   color: #333;
}

:-ms-input-placeholder {  
   font-family: 'Roboto', "Trebuchet MS",verdana,arial,Lucida Grande;
   font-weight: 300;
   color: #333;
}

#postnavigation {
    display: none;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}

#postnavigation a {
    color: #444;
}

#postnavigation a:hover {
    color: #000;
}

/* STRUCTURE */


/* SEARCH */

.searchBar {
    margin-top: 20px;
}

.searchBar button {
    width: 100%;
}

.topNav {
    margin-top: -3px;
}

.topNav a {
    text-decoration: none;
    color: #333;
}

.topNav a:hover {
    color: #FFF;
}

.links.box-inner {
    background-color: #7f878f;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 2px;
    padding: 5px;
}

.links a {    
    margin: 0px 10px;
}

.links a:hover {
 
}

.links a.icon {
    font-size: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.links a.icon span {
    display: none;
}
.links a.icon:hover {
    background: none;    
}

/* LOGO */
.frogLogo {
    position: absolute;
    top: -1px;
    left: 635px;
    background: url(../img/frogLogo.png) no-repeat left top;
    width: 158px;
    height: 158px;
    z-index: 10;
}

/* HEADER TITLE  */
.header {
    margin: -10px 0px 10px 20px;
    
}

.header .title {
    color: #FFF;
}

.header .title h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.header .title a {
    text-decoration: none;
    color: #FFF;
}

.header .subTitle {
    margin-top: -10px;
}

.follow {
    padding: 0px 5px 0px 5px;
    top: 3px;
    position: relative;
}


/* SIDENAV */
.sidenav {
}

.sidenav h4 {
    padding-top: 6px;
}

.sidenav ul {
    margin: 0;
    padding: 0;
}

.sidenav li {
    border-bottom: 1px dashed #EEE;
    list-style: none;
    margin: 0;
}

.sidenav li a {
    display: block;
    padding: 3px 6px 3px 3px;
    text-decoration: none;
    line-height: 1.2em;
}

.sidenav .comment-count {
    font-size: 0.8em;
}

/*----------------------------
				Recent posts
----------------------------*/

ul.recentPosts li {
    padding-bottom: 10px;
}

ul.recentPosts li div {
    
    text-transform: none;
}

/* TRANSPARENT BOXES */
.box {
    /*background-color: #7f878f;
    background-color: rgba(255,255,255,0.5);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 14px;
    border-radius: 14px;
    padding: 13px 15px;
    border: 1px solid #333;*/
}

/*.box.small {
    -ms-border-radius: 4px;
    border-radius: 10px;
    padding: 6px;
}*/


.post, .box-inner, #archive, #contact, #page {    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 18px;
    background-color: white;
    margin-bottom: 10px;
}

/*.post.box-inner, #archive {
    
}*/
/*.post.box-inner:nth-last-child(1) {
    margin-bottom: 0px;
}*/


/*----------------------------
			Recent comments
----------------------------*/

ul.recentComments li {
    padding-bottom: 10px;
    text-transform: none;
}

#comment-form {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    margin-top: 20px;
}

#relatedPosts {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    margin-top: 20px;
}

/* content */

.mainContent .postheader {
    text-decoration: none;
    color: #06C;
}



.mainContent li {
    list-style: url(../img/li.gif);
    margin-left: 18px;
}

.mainContent .sharing {
    float: right;
    margin: 0px 0px 10px 20px;
}

.content {
    /*font-size: 0.9em;*/
}

.postcontent {
    padding-bottom: 1.2em;
}

.postcontent ul, .postcontent ol {
    margin-bottom: 4px;
}

.postcontent img {
    max-width: 100%;
}

.postcontent h1,h2,h3,h4,h5 {
    /*font-family: 'Roboto', "Trebuchet MS", verdana, arial, Lucida Grande !important;*/
}

.postfooter {
    border: 1px solid #ccc;
    /*font-size: 0.8em;*/
    line-height: 20px;
    padding: 10px;
}

.postfooter img {
    border: none;
}

/*----------------------------
					 Widgets
----------------------------*/

.widget {
    -moz-border-radius: 4px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 8px;
    background-color: white;
}

.widget .content {
    line-height: 16px;
    color: #666666;
    float: none;
    margin: 0;
}

.widget h4 {
    font-size: 1.1em;
    border-bottom: 1px dashed #DDD;
    color: #0066CC;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 5px;
    z-index: 0;
    letter-spacing: 1px;
}

.widget .content ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: capitalize;
}

.widget .content ul li {
    list-style: none !important;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}

.widget.feed {
    min-height: 100px;
    background-image: url("../img/spin.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

/* footer */
#footer {
    margin-top: 30px;
    height: 30px;
}

/* Archive */
#archive table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.8em;
}

#archive table td.date {
    width: 80px;
}

#archive table tr:nth-child(even) {
    background-color: #F3F3F3;
}

#archive table td.title {
    width: 450px;
}

#archive table td.comments {
    width: 100px;
    text-align: right;
    vertical-align: middle;
}

#archive table td.comments a {
    color: #666666;
    font-size: smaller;
}

#archive img {
    border: none;
    padding-right: 5px;
}

#archive h2 a {
    text-decoration: none;
    color: inherit;
}
#archive  a {
    text-decoration: none;
}
#archive .fa {
    font-size: 0.7em;
    color: #e86c00;
}


/*----------------------------
				 Tag cloud
----------------------------*/

.tag-cloud-large {
    margin: 25px 0px 25px 0px;
}

.tag-cloud {
    text-transform: capitalize;
    padding: 0;
}

.tagcloud {
    white-space: normal;
}

.tagcloud li {
    display: inline-block;
    border-bottom: none;
}

.tagcloud li a {
    margin-right: 3px;
    display: inline;
    padding: 3px 1px 3px 1px;
}

.tagcloud li a:hover {
    background: none;
}

.tagcloud .tag-cloud-5 a {
    font-size: 1.7em;
    color: #e86c00;
    color: rgba(232, 108, 0, 1);
}

.tagcloud .tag-cloud-4 a {
    font-size: 1.6em;
    color: #E89300;
    color: rgba(232, 108, 0, 0.9);
}

.tagcloud .tag-cloud-3 a {
    font-size: 1.5em;
    color: #E89300;
    color: rgba(232, 108, 0, 0.85);
}

.tagcloud .tag-cloud-2 a {
    font-size: 1.4em;
    color: #E89300;
    color: rgba(232, 108, 0, 0.8);
}

.tagcloud .tag-cloud-1 a{
    font-size: 1.0em;
    color: #E89300;
    color: rgba(232, 108, 0, 0.5);
}

div.imported-post {
    border: solid 1px orange;
    background-color: lightyellow;
    padding: 10px;
}

.pagination {
    text-align: center;
    margin: 10px auto 0px auto;    
    color: white;
}

.pagination a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
.pagination a:hover {
    color: #479230;
}

a.comment-count {
    color: inherit;
}

.fa span {
    display: none;
}

/* feeds */

.feedtwitter iframe {
    width: 100% !important;
}



/* customize github feed */
.news a {
    text-decoration: none;
}
.news .alert {
    background-color: inherit;
    border: inherit;
    margin: inherit;    
    border-top: 1px solid #f1f1f1;
    color: inherit; 
}
.news .alert .body {
    font-size: inherit;
    color: inherit; 
}
.news .alert .mega-octicon::before {
    color: inherit
}
.news .alert .octicon {    
    fill: #bbb;
}
.news .alert .title {
    padding-bottom: 5px;
    font-weight: inherit;
}
.news div blockquote {
    margin: 0;
}
.news code {
    font-size: 12px;
    font-weight: normal;
     background-color: inherit; 
     border: inherit; 
     color: inherit; 
     padding: inherit;     
}


.widget .time, .news .time, .news small {
    font-size: 12px;
    color: #bbb;
    display: block;
    margin: 5px 0px;
}

.headline {
    font-size: 2em;    
    height: 350px;   
    -ms-background-size: 1140px 390px !important;
    background-size: 1140px 390px !important;    
    position: relative;
}
.headline span {
    position: absolute;
    bottom:0;
    right:10px;
    font-size: 0.8em;
    color: #000000;
    color: rgba(0, 0, 0, 0.5);
}
.headline a {
    position: absolute;
    bottom:10px;
    left:10px;
    width: 125px;
    height: 50px;
    display: block;
}
.headline a span {
    display: none;
}

/* This hides the first image displayed in an RTE blog post - used in conjunction with Windows Live Writer */
.a-image-0 {
    display: none;
}

.postImage {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 0px;
}

img.thumb {
    float: left;
    padding: 0px 10px 0px 0px;
}

.authorlist {
    display: block;
}

.authorname {
    clear: left;
    margin-bottom: 3px;
}

.authorinfo {
    margin-bottom: 10px;
    height: 50px;
}

.authorlist img {
    clear: left;
    width: 55px;
    height: 50px;    
}

@media (max-width: 47.99em) {
    .header {
        margin: 0;        
        font-size:0.9em;
        margin-bottom: 5px;
    }    
    .links a {
        margin: 0px 3px;
        font-size: 0.88em;
    }
    .links a.icon {
        font-size: 1.1em;
        position: relative;
        top: 2px;
        margin-right: 2px;
    }
}
@media (min-width: 48em) and (max-width:61.99em) {
    .headline {
        font-size:1.4em;
        height: 250px;
    }
    .headline span {
        font-size:0.7em;    
    }
}
@media (min-width: 62em) and (max-width:74.99em) {
    .headline {
        font-size:1.6em;    
        height: 300px;
    }
    .headline span {
        
    }
}