<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net472" />
  <package id="ClientDependency" version="1.9.7" targetFramework="net472" />
  <package id="ClientDependency-Mvc5" version="1.8.0.0" targetFramework="net472" />
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net472" />
  <package id="Examine" version="1.0.0-beta078" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net472" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net472" />
  <package id="LightInject" version="5.1.2" targetFramework="net472" />
  <package id="LightInject.Annotation" version="1.1.0" targetFramework="net472" />
  <package id="LightInject.Mvc" version="2.0.0" targetFramework="net472" />
  <package id="LightInject.Web" version="2.0.0" targetFramework="net472" />
  <package id="LightInject.WebApi" version="2.0.0" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="Markdown" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net472" />
  <package id="MySql.Data" version="6.10.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="NPoco" version="3.9.4" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Semver" version="2.0.4" targetFramework="net472" />
  <package id="Serilog" version="2.7.1" targetFramework="net472" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net472" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net472" />
  <package id="Serilog.Filters.Expressions" version="2.0.0" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net472" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="Superpower" version="2.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Umbraco.SqlServerCE" version="4.0.0.1" targetFramework="net472" />
  <package id="UmbracoCms.Core" version="8.0.0-alpha.58.1580" targetFramework="net472" />
  <package id="UmbracoCms.Web" version="8.0.0-alpha.58.1580" targetFramework="net472" />
</packages>