name: Articulate Build

on: [push, pull_request]

jobs:

  build:

    runs-on: windows-latest
    
    env:
      Solution_File: src\Articulate.sln
      Code_CSProj_File: src\Articulate\Articulate.csproj
      Web_Proj_Folder: src\Articulate.Web
      Release_Folder: build\Release
      Build_Folder: build
      Configuration: Release
      
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0    
      
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    
    - uses: nuget/setup-nuget@v1
      with:
        nuget-version: 'latest'

    - name: Nuget Restore
      run: nuget restore $env:Solution_File
    
    - name: MSBuild Clean
      run: msbuild $env:Solution_File /p:Configuration=${{ env.Configuration }} /t:Clean
    
    - name: MSBuild Build
      run: msbuild $env:Solution_File /p:Configuration=${{ env.Configuration }}

    - name: Dotnet Pack
      run: dotnet pack ${{ env.Code_CSProj_File }} --output ${{ env.Release_Folder }} --configuration ${{ env.Configuration }}
      
    - uses: actions/upload-artifact@v2
      with:
        name: nuget
        path: ${{ env.Release_Folder }}/Articulate.*
